* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
}

 .hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero {
  min-height: 90vh;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  text-align: center;

  /* imagem de fundo sem repetição e cobrindo tudo */
  background-image: url(../img/15bd95a3-8c0c-4308-915e-eee62d38bbcb.png);
  background-size: cover;
  background-position: medium center;
  background-repeat: no-repeat;

  color: #fff; /* textos brancos */
  padding: 0 20px;
}

.hero-content {
  display: flex;
  flex-direction: column; /* título > botão > subtítulo */
  align-items: center;    /* centraliza horizontal */
  gap: 20px;              /* espaçamento entre elementos */
  background: rgba(0,0,0,0.5); /* sombra por trás do conteúdo */
  border-radius: 30px;
  padding: 30px;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 0;
  color: #fff; /* garante que o subtítulo fique branco */
}

.btn-whatsapp {
  background: #08f75f;
  color: #fff;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 30px; 
  font-weight: bold;
  display: inline-block;
 

}

.btn-whatsapp:hover {
  background: #1ebe5d;
}

.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.footer a {
  color: #aaa;
  text-decoration: none;
  margin: 0 10px;
}
.container {
  max-width: 1100px;
  padding: 5px 10px;
}

.benefits.container {
  width: 100%;
}

.benefits ul {
  margin: 0px;
  padding-left: 20px; /* use 0 se quiser colar */
}


.hero-content-area {
  min-height: 70vh; /* faz a página descer */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 60px 60px;

  background: linear-gradient(
    120deg,
    #ffffff,
    #f5f7f6,
    #ffffff
  );
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero-text {
  max-width: 800px;
}

.hero-text li {
  margin-bottom: 8px;
  line-height: 1.5;
}



.hero-text h2 {
  margin-bottom: 10px;
  margin-top: 0;


}

.hero-text ul {
  margin: 0 0 30px 0;
  padding-left: 20px;
  margin-bottom: 25px;
}

.hero-photo img {
  max-width: 380px;
  border-radius: 25px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.2);
}


.hero-photo {
  background: rgba(0,0,0,0.03);
  padding: 20px;
  border-radius: 30px;
}



/* RESPONSIVIDADE */
@media (max-width: 768px) {

  .hero {
    padding: 60px 20px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn-whatsapp {
    width: 100%;
    padding: 18px;
    font-size: 1.1rem;
  }

  .container {
    padding: 30px 15px;
  }

  ul {
    padding-left: 18px;
  }
}
