* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 5px 10px;

}
 .hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}




.hero {
  min-height: 90vh;
  display: flex;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  text-align: center;

  /* imagem de fundo sem repetição e cobrindo tudo */
  background-image: url(../img/15bd95a3-8c0c-4308-915e-eee62d38bbcb.png);
  background-size: cover;
  background-position: medium center;
  background-repeat: no-repeat;

  color: #fff; /* textos brancos */
  padding: 0 20px;
}

.hero-content {
  display: flex;
  flex-direction: column; /* título > botão > subtítulo */
  align-items: center;    /* centraliza horizontal */
  gap: 20px;              /* espaçamento entre elementos */
  background: rgba(0,0,0,0.5); /* sombra por trás do conteúdo */
  border-radius: 30px;
  padding: 30px;
}

.hero h1 {
  font-size: 3rem;
  margin: 0;
}

.hero p {
  font-size: 1.5rem;
  margin: 0;
  color: #fff; /* garante que o subtítulo fique branco */
}

.btn-whatsapp {
  background: #08f75f;
  color: #fff;
  padding: 15px 35px;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 30px; 
  font-weight: bold;
  display: inline-block;
 

}

.btn-whatsapp:hover {
  background: #1ebe5d;
}

.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.footer a {
  color: #aaa;
  text-decoration: none;
  margin: 0 10px;
}

/* LISTAS */
ul {
  list-style: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

  .hero {
    padding: 60px 20px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn-whatsapp {
    width: 100%;
    padding: 18px;
    font-size: 1.1rem;
  }

  .container {
    padding: 30px 15px;
  }

  ul {
    padding-left: 18px;
  }
}
