* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.hero {
  background: #f4f8f6;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: -100px;
  
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.btn-whatsapp {
  background: #25d366;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 5px;
  display: inline-block;
}

.btn-whatsapp:hover {
  background: #1ebe5d;
}

.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 30px;
}

.footer a {
  color: #aaa;
  text-decoration: none;
  margin: 0 10px;
}

/* LISTAS */
ul {
  list-style: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {

  .hero {
    padding: 60px 20px;
  }

  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .btn-whatsapp {
    width: 100%;
    padding: 18px;
    font-size: 1.1rem;
  }

  .container {
    padding: 30px 15px;
  }

  ul {
    padding-left: 18px;
  }
}
